@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');

* {
  padding: 0;
  margin: 0;
  /* font-family: 'Fredoka', sans-serif; */
  background-color: brown;
  /* font-family: 'Paytone One', sans-serif; */
  font-family: 'MuseoModerno', cursive;
}

h1 {
  font-size: 4rem;
  background: -webkit-linear-gradient(rgb(255, 166, 0), rgb(0, 145, 104));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}