.review-form {
    border: 2px solid rgb(96, 96, 96);
    border-radius: 10px;
}

#review-form-btn {
    font-family: 'Quicksand', sans-serif;
    transition: 0.3s;
    background-color: brown;
    color: white;
    border: none;
    font-weight: 500;
    width: 30%;
}

#review-form-btn:hover {
    background-color: white;
    color: brown;
}