a {
  text-decoration: none;
  color: orange;
}

h4,
h5,
h6,
p,
a {
  font-family: 'Quicksand', sans-serif;
}

h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
}

p {
  font-size: 1.3rem;
  font-weight: 600;
}


.room-card {
  height: 100vh;
}

.m-3 {
  margin: 0 !important;
}

.card {
  border: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.room-card,
.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.room-card {
  width: 100%;
  margin-left: 12px;
  margin-right: 12px;

}

.room-card-container {
  display: flex;
  justify-content: center;
  width: 80%;
  background-color: rgb(245, 242, 247);
}

.on {
  color: rgb(223, 152, 126);
}

.off {
  color: #ccc;
}

.wifi,
.pool,
.breakfast,
.parking,
.pet-friendly,
.gym {
  font-size: smaller;
}

.reviews,
.currency {
  font-size: small;
}

/* 
.total-price {
  font-size: larger
} */

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  height: 300px;
  width: 450px;
}

/* button */
.reserve-btn {
  background-color: #f44336;
  color: white;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s all ease;
  margin-top: 10px;
}

.reserve-btn:hover {
  transform: translateY(5px);
  color: white;
}

/* reserve container */
.reserve-container {
  display: flex;
  flex-direction: column;
}

/* icon container */
.icon-container {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}

/* star rating */
.reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.star-rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.star-rating button {
  font-size: 15px;
  margin: 0;
  padding: 0;
  width: 35px;
}