@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


.logo h1 {
    color: rgb(235, 232, 232);
    font-size: 1.5rem;
    margin: auto;
}

nav.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: 0.5s ease-in-out;
    padding: 12px 0px;
    margin: auto;
}

div.container {
    padding: 0;
    margin: auto;
}

nav.navbar.scrolled {
    padding: 0px 0;
    background-color: rgb(56, 9, 82);
    opacity: 0.95;
}

nav.navbar a.navbar-brand {
    width: 10%;
}

nav.navbar .navbar-nav .nav-link.navbar-link,
.navbar-light .navbar-nav .nav-link {
    font-weight: bold;
    color: rgb(26, 254, 5) !important;
    letter-spacing: 0.7px;
    padding: 15px 9px;
    font-size: 1em;
    transition: all 0.5s;
}

nav.navbar .navbar-nav a.nav-link.navbar-link p:hover {
    text-decoration: underline;
}

nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 0.4;
    color: rgb(189, 219, 91);
    transition: all 0.5s;
}

span.navbar-text {
    display: flex;
    align-items: center;
}

.social-icon {
    display: inline-block;
    width: 200px;
    text-align: center;
}


.social-icon a:hover::before {
    color: white;
}

.social-icon a img {
    width: 23%;
    z-index: 1;
    transition: 0.3s ease-in-out;
    padding-left: 4px;
}

.social-icon a img:hover {
    transform: scale(1.2);
}

.social-icon a img:hover+.hide {
    visibility: visible;
}

/* .hide {
    visibility: hidden;
    width: 5rem;
    background: linear-gradient(90deg, rgba(26, 109, 255, 1) 0%, rgba(200, 34, 255, 1) 80%, rgba(109, 199, 255, 1) 100%, rgba(230, 171, 255, 1) 100%);
    color: rgb(214, 207, 207);
    text-align: center;
    font-weight: 900;
    border-radius: 6px;
    padding: 3px 0px;
    position: absolute;
    z-index: 1;
    font-size: 0.75rem;
    margin-top: 50px;
    transform: translateX(-60px);
} */

.navbar-text button {
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    padding: 18px 34px;
    font-size: 18px;
    margin-left: 18px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}

.navbar-text button span {
    z-index: 1;
}

.navbar-text button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
    color: #121212;
}

.navbar-text button:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 2px solid #fff;
    transition: all 300ms linear;
    top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
    border-bottom: 2px solid #fff;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 2px;
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
    top: 8px;
}


.switchers {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.form-check-input:checked {
    background-color: #cd0033 !important;
    border-color: #cd0033 !important;
}

#custom-switch {
    background-color: #e8ef55;
    border-color: #e8ef55;
}

#custom-switch .form-check-input:checked {
    background-color: white;
}


.form-check-label {
    color: #ff2f63;
    font-weight: 900;
}

.form-switch {
    padding-top: 6px;
}

.navbar-link p {
    margin-bottom: 0;
}