@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

* {
    font-family: 'Aldrich', sans-serif;
    letter-spacing: 1.2px;
    line-height: 1.4;
}

.logo h1 {
    color: rgb(235, 232, 232);
    font-size: 1.5rem;
    margin: auto;
}

nav.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: 0.5s ease-in-out;
    padding: 0;
}

/* nav.navbar.scrolled {
    padding: 0px 0;
    background-color: rgb(56, 9, 82);
    opacity: 0.95;
} */

.nav-link {
    font-weight: 900;
    color: rgb(254, 84, 5) !important;
    padding: 15px 15px 10px 10px;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 1em;
}

.nav-link:hover {
    text-decoration: underline orange 2px solid;
}

nav.navbar .navbar-nav a.nav-link.navbar-link p:hover {
    text-decoration: underline;
}

span.navbar-text {
    display: flex;
    align-items: center;
}

/* .navbar-text button {
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    padding: 18px 34px;
    font-size: 18px;
    margin-left: 18px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
} */

/* .navbar-text button span {
    z-index: 1;
} */

/* .navbar-text button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
} */

/* .navbar-text button:hover {
    color: #121212;
} */

/* .navbar-text button:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
} */

/* nav.navbar .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 2px solid #fff;
    transition: all 300ms linear;
    top: -2px;
} */
/* 
nav.navbar .navbar-toggler-icon:focus {
    border-bottom: 2px solid #fff;
} */

/* nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 2px;
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
} */

/* nav.navbar .navbar-toggler-icon:after {
    top: 8px;
} */

.switchers {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.form-check-input:checked {
    background-color: #ff6f02 !important;
    border-color: #ff8e37 !important;
}

#custom-switch {
    background-color: #f3fe1b;
    border-color: #f3fe1b;
}

#custom-switch .form-check-input:checked {
    background-color: white;
}

.form-check-label {
    color: rgb(7, 207, 229);
    font-weight: 900;
}

.navbar-link p {
    margin-bottom: 0;
}

.hidden {
    opacity: 0;
}

.navbar-active {
    opacity: 1;
}

.flag {
    height: 12px;
    margin-left: 0;
    margin-right: 20px;
    margin-bottom: 3px;
}